<!doctype html>
<html>
	<head>
		<title>DuplicateBooru</title>
		<style>
:root, textarea, button {background: #222; color: #aaa; font: monospace;}
textarea {resize: vertical;}
textarea, button {border: 1px solid #aaa; display: block; width: 100%; box-sizing: border-box;}
		</style>
	</head>
	<body>
		<form method="post" action="/">
			<label>URLS:</label>
			<textarea name="urls" rows="3"></textarea>
			<button type="submit">Check</button>
		</form>
	</body>
</html>
